
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100&display=swap');

/* *{
    font-family: "Poppins", sans-serif;
} */

:root 
{
    --background-color-1: #191919;
    --background-color-2: #C6C6C6;
    --background-info-table: #EDEDED;
    --color-red: #DE1E2E;
    --background-yellow-line: rgb(255, 217, 0);
    --body-width: 1080px;
    --body-width-before: 1074px; /* body width - 6px */
    --shadow-box: 0px 5px 5px grey;
    --font-color: #FFFFFF;
}

body {
    width: var(--body-width);
    margin: auto;
    font-size: 14px;
}

.header h1 {
    display: flex;
    justify-content: center;
    background-color: var(--background-color-1);
    padding: 15px;
    box-shadow: 0px 2px 3px grey;
    margin: 3px;
    font-size: 26px;
    font-weight: bolder;
    color: var(--font-color);
}

.container .input-container {
    position: relative;
    background-color: var(--font-color);
    margin: 0px 3px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 15px 10px;
}

.container .input-container::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 10px;
    background-color: var(--background-color-2);

}
.container .input-container::after {
    position: absolute;
    content: '';
    width: 50px;
    height: 5px;
    background-color: var(--color-red);

}

.container .data-info .basin,.gage,.data-type {
    display: flex;
    padding: 5px;
    font-weight: bold;
}

.container .data-info .gage label{
    padding-right: 3px;
}

.container .data-info select{
    margin-left: 10px;
    width: 315px; 
}

.container .time-info {
    display: flex;
    justify-content: center;
}

.container #info-table {
    background-color: var(--background-info-table);
    padding: 5px 5px;
    border: 2px solid black;
}

.container #info-table th,#info-table td {
    padding: 0px 20px;
    border: 1px solid black;
}

.container #info-table tbody tr:nth-child(1) {
    font-style: italic;
    font-weight: bolder;
}

.container #input-table {
    background-color: white;
    border: 2px solid grey;
    padding: 5px 5px;
}

.container #input-table tbody tr:nth-child(1){
    font-style: italic;
    font-weight: bolder;
}

.container #input-table th,#input-table td {
    padding: 2px 10px;
    border: 1px solid grey;
}

.container #input-table tbody tr:nth-child(1) td:nth-child(-n+2) {
    padding-left: 30px;
    padding-right: 0px;
}

.container #input-table tbody tr:nth-child(2) td:nth-child(-n+2) {
    background-color: var(--background-info-table);
}

.container #input-table input {
    padding-left: 5px;
    border: 1px solid grey;
    border-radius: 5px;
}

.container .input-container{
    position: relative;
}

.container .input-checkbox {
    margin: 0px 3px;
    background-color: var(--font-color);
    display: flex;
    padding: 2px 10px;
    gap: 5px;
    font-weight: bold;
}

.container .input-checkbox label:nth-child(1) {
    padding-right: 10px;
}

.container .input-checkbox input {
    cursor: pointer;
}

.container .input-checkbox input:checked {
    accent-color: var(--color-red);
}

.container .buttons {
    background-color: var(--background-color-2);
    display: flex;
    justify-content: right;
    gap: 10px;
    margin: 0px 3px;
    padding: 10px;
    box-shadow: 0px 10px 10px grey;
}


/** Results Section **/
.results {
    display: flex;
    flex-direction: column;
    margin: 3px 3px;
    gap: 3px;
}

.results.hidden {
    display: none;
}

.results .gage-info{ 
    position: relative;
    background-color: var(--font-color);
    box-shadow: 0px 5px 5px grey;
}

.results .gage-info::before{
    position: absolute;
    content: '';
    width: 100%;
    height: 20px;
    background-color: var(--background-color-2);
}

.results .gage-info::after{
    position: absolute;
    content: '';
    top: 0;
    width: 50px;
    height: 5px;
    background-color: var(--color-red);
}

.results #gage-info-table {
    padding: 35px 15px 15px 15px;
}

/* Text Format */
.results #gage-info-table th {
    font-size: 18px;
}

/* Content text */
.results #gage-info-table td {
    font-size: 16px;
    text-transform: uppercase;
}

/* Content text - Left column */
.results #gage-info-table tbody tr td:nth-child(1) {
    width: 160px;
    font-size: 16px;
    font-weight: bold;
    text-transform: capitalize;
}

/* Text below table */
.results .gage-info .intro-text h4 {
    padding: 15px;
    text-transform: uppercase;
}

.results .selected-por-statistic {
    position: relative;
    background-color: var(--font-color);
    font-size: 18px;
    box-shadow: var(--shadow-box);
}

.results .selected-por-statistic h2{
    padding: 5px 0px 5px 15px;
    font-weight: bolder;
    font-style: italic;
}

.results .selected-por-statistic::before {
    position: absolute;
    background-color: var(--background-color-2);
    content: '';
    width: 100%;
    height: 20px;
}

.results .selected-por-statistic::after {
    position: absolute;
    background-color: var(--color-red);
    content: '';
    width: 50px;
    height: 5px;
    top: 0;
}

.results .first-stats {
    display: flex;
    flex-direction: column;
    background-color: var(--font-color);
    padding: 15px;
    box-shadow: var(--shadow-box);
}

.results .first-stats h4 {
    margin: 0px;
}

.results .daily-title {
    background-color: var(--font-color);
    box-shadow: var(--shadow-box);
}

.results .daily-title {
    position: relative;
    background-color: var(--font-color);
    box-shadow: var(--shadow-box);
}

.results .daily-title::before {
    position: absolute;
    background-color: var(--background-color-2);
    content: '';
    width: 100%;
    height: 20px;
}

.results .daily-title::after {
    position: absolute;
    background-color: var(--color-red);
    content: '';
    width: 50px;
    height: 5px;
    top: 0;
}

.results .daily-title h4 {
    margin: 30px 15px 15px 15px;
}

/* Mean Table */
.results .mean-data {
    background-color: var(--font-color);
    padding: 15px;
    box-shadow: var(--shadow-box);
}

.results .mean-data .data-table {
    width: 100%;
    border: 1px solid var(--background-color-2);
}

/* Header Format */
.results .mean-data .data-table th {
    font-size: 24px;
    font-weight: bold;
    border: 1px solid var(--background-color-2);
    background: var(--background-color-1);
    color: var(--font-color);
}

.results .mean-data .data-table td {
    text-align: center;
    border: 1px solid var(--background-color-2);
}

.results .mean-stats h4 {
    margin: 0px;
    font-size: 12px;
    font-weight: normal;
}

.results .mean-data .data-table tr:nth-last-child(1),
.results .mean-data .data-table tr:nth-last-child(2),
.results .mean-data .data-table tr:nth-last-child(3) {
    font-weight: 800;
}

/* Max Table */
.results .max-data {
    background-color: var(--font-color);
    padding: 15px;
    box-shadow: var(--shadow-box);
}

.results .max-data .data-table {
    width: 100%;
    border: 1px solid var(--background-color-2);
}

/* Header Format */
.results .max-data .data-table th {
    font-size: 24px;
    font-weight: bold;
    border: 1px solid var(--background-color-2);
    background: var(--background-color-1);
    color: var(--font-color);
}

.results .max-data .data-table td {
    text-align: center;
    border: 1px solid var(--background-color-2);
}

.results .max-stats h4 {
    margin: 0px;
    font-size: 12px;
    font-weight: normal;
}

.results .max-data .data-table tr:nth-last-child(1),
.results .max-data .data-table tr:nth-last-child(2),
.results .max-data .data-table tr:nth-last-child(3) {
    font-weight: 800;
}

/* Min Table */
.results .min-data {
    background-color: var(--font-color);
    padding: 15px;
    box-shadow: var(--shadow-box);
}

.results .min-data .data-table {
    width: 100%;
    border: 1px solid var(--background-color-2);
}

/* Header Format */
.results .min-data .data-table th {
    font-size: 24px;
    font-weight: bold;
    border: 1px solid var(--background-color-2);
    background: var(--background-color-1);
    color: var(--font-color);
}

.results .min-data .data-table td {
    text-align: center;
    border: 1px solid var(--background-color-2);
}

.results .mean-stats,
.results .min-stats,
.results .max-stats {
    padding-top: 10px;
}

.results .min-stats h4 {
    margin: 0px;
    font-size: 12px;
    font-weight: normal;
}

.results .min-data .data-table tr:nth-last-child(1),
.results .min-data .data-table tr:nth-last-child(2),
.results .min-data .data-table tr:nth-last-child(3) {
    font-weight: 800;
}

/* Hide everything with the checkbox */
.daily-title.mean.hidden,
.daily-title.max.hidden,
.daily-title.min.hidden {
    display: none;
}

.mean-data.hidden,
.max-data.hidden,
.min-data.hidden {
    display: none;
}
